<main id="article">
        <header>
            <section class="navegacion-articulo">
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                            <h5 class="text-white h4">Collapsed content</h5>
                            <span class="text-muted">Toggleable via the navbar brand.</span>
                        </div>
                    </div>
                    <nav class="navbar  navbar-dark bg-dark">
                        
                        <h1 class="navbar-brand" href="#"><i class="fas fa-microchip"></i> Software and Hardware Systems by Sergio Vargas</h1>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Proyects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">About</a>
                                </li>
                            </ul>
                        </div>
                       
                    </nav>
                </div>
             
            </section>
        </header>

        <section class="global-content">
            <div class="reader-section">
                <h2><a href="./article.html">quienes somos?</a></h2>

                <div class="text-information">
                    <img src="./src/img/computer.png" alt="cerebro informaticoLOL">
                    <p>
                        este espacio esta pensado con fines academicos y de aprendizaje.
                        el blog tiene como proposito difundir conocimientos acerca de
                        temas de informatica, programacion,inteligencia artificial,videojeugos
                        y un sin fin de temas relacionados con la tecnologia y las ciencias de 
                        la electronica y la computacion.
                    </p>
                    <p>
                        somos una pila de estudiantes en su mayoria de ciencias de la computacion e 
                        ingenieria electronica dispuestos a difundir conocimiento y pasion por lo
                        que hacemos a la vez que aprendemos cada dia mas para ofrecer mas
                    </p>
                    <p>
                        esto lo hacemos por nuestro propio gusto y pasion por la ciencia que cada
                        dia mas esta a la vanguardia de nuestros alcanzes mas prosperos.
                    </p>
                    <p>
                        lo mejor que todo ser humano podria aspirar a hacer en el futuro es aprender 
                        a difundir su conocimiento en post del avance hacia un futuro mas prospero
                        y lleno de profesionales con pasiones similares
                    </p>

                    <p>
                        todo lo que se toque en este apartado sera para fines de divulgacion, con information
                        altamente avalada por fuentes veridicas y confiables; cabe decir que en el apartado de
                        proyectos de ingenieria habra en su mayor parte recursos del area de software y robotica,por lo
                        que todos los recursos utilizados seran open-source y para todos
                    </p>

                     <p>
                        en ocaciones se van a tocar temas complejos que conlleven conocimiento adicional para poder 
                        digerir toda la informacion como temas realcionados a la inteligencia artificial, la robotica 
                        y algunas cuestiones de dinamica,mecanica y electromagnetismo;para tal caso cada uno de nuestros
                        articulos contendra al menos 3 fuentes de consulta antes de poder aprovechar los recursos requeridos
                        para la materia empleada
                    </p>
                    
                </div>
            </div>
        </section>

        <footer id="footer-2">
            <div class="contact">
                <p> &copy; Copyright.</p>
                <p> knowledge is powerful, don't turn your back on it </p>
            </div>
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <script src="../js/bootstrap.min.js"></script>
   <script src="../js/index.js"></script> 