<main id="principal">
        <header>
            <section class="navegacion-principal">
                <div id="titulo">
                    <h1><a href="/">.Enginner.ium.</a></h1>
                </div>
                <nav id="menu-principal">
                    <ul id="nav-list">
                        <li class="topic"><a href="">computacion <i class="fas fa-angle-down select"></i>
                            <ul id="lista-principal">
                                <li><a href="/section">ciencias de la computacion</a></li>
                                <li><a href="">programacion de videojuegos</a></li>
                                <li><a href="">inteligencia artificial</a></li>
                            </ul>
                        </li>
                        <li class="topic"><a href="">electronica <i class="fas fa-angle-down select"></i></a>
                            <ul>
                                <li><a href="">microcontroladores</a></li>
                                <li><a href="">robotica</a></li>
                            </ul>
                        </li>
                        <li class="topic"><a href="">proyectos <i class="fas fa-angle-down select"></i></a>
                            <ul>
                                <li><a href="">arduino</a></li>
                                <li><a href="">robotica</a></li>
                                <li><a href="">programacion</a></li>
                            </ul>
                        </li>
                        <li><a href="">acerca de </i></a>
                        </li>
                    </ul>   
                </nav>
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </section>
        </header>

        <section class="global-content">
            <div class="principal-title">
                <h2> Los mas destacados</h2>
            </div>
            <div class="reader-section">
                <div class="section-new">
                    <div class="article-1">
                        <div class="cortina">
                            <p><a href="">titulo de descripcion</a></p>
                        </div>
                    </div>
                    <div class="article-more">
                        <div class="article-next"><div class="cortina">
                            <p><a href="">titulo de descripcion</a></p>
                        </div></div>
                        <div class="article-next"><div class="cortina">
                            <p><a href="">titulo de descripcion</a></p>
                        </div></div>
                        <div class="article-next"><div class="cortina">
                            <p><a href="">titulo de descripcion</a></p>
                        </div></div>
                    </div>
                </div>
                <h2>los mas Vistos</h2>
                <div class="box-article">
                    
                    <article class="article-box">
                        <img src="./src/img/noticia1.jpg" alt="">

                        <div class="information">
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,20212</a></p>-->
                            </div>
                            <p><a href="/article">que es la computacion?,terminologia y conceptos</a></p>
                                                     
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia10.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,20213</a></p>-->  
                            </div>
                            <p><a href="./article.html">como funciona un motor:terminologia y aplicacion</a></p>
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia3.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,20214</a></p>-->
                            </div>
                            <p><a href="./article.html">como aplicar pasta correctamente:consejos practicos</a></p>
                           
                            
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia4.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,20215</a></p>-->
                                
                            </div>
                            <p><a href="./article.html">limpieza de componentes paso por paso</a></p>

                           
                        </div>

                    </article>
                </div>


                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia6.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->
                               
                            </div>
                            <p><a href="./article.html">que pensaba socrates sobre la juventud del futuro?</a></p>
                          
                       
                        </div>

                    </article>
                </div> 
                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia1.jpg" alt="">

                        <div class="information">
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->

                            </div>
                            <p><a href="/article">que es la computacion?,terminologia y conceptos</a></p>
                          
                               
                        </div>

                    </article>
                </div>

                <h2>tutoriales</h2>
                <div class="box-article">
                    
                    <article class="article-box">
                        <img src="./src/img/noticia1.jpg" alt="">

                        <div class="information">
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->

                            </div>
                            <p><a href="/article">que es la computacion?,terminologia y conceptos</a></p>
                                                     
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia10.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->  
                            </div>
                            <p><a href="./article.html">como funciona un motor:terminologia y aplicacion</a></p>
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia3.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->
                            </div>
                            <p><a href="./article.html">como aplicar pasta correctamente:consejos practicos</a></p>
                           
                            
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia4.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->
                                
                            </div>
                            <p><a href="./article.html">limpieza de componentes paso por paso</a></p>

                           
                        </div>

                    </article>
                </div>


                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia6.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->
                               
                            </div>
                            <p><a href="./article.html">que pensaba socrates sobre la juventud del futuro?</a></p>
                          
                       
                        </div>

                    </article>
                </div> 
                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia1.jpg" alt="">

                        <div class="information">
                            <div class="fecha">
                                <!--<p><a href="#">Dec 1,2021</a></p>-->

                            </div>
                            <p><a href="/article">que es la computacion?,terminologia y conceptos</a></p>
                          
                               
                        </div>

                    </article>
                </div>
            </div>
    
        </section>

        <footer id="footer-1">
            <div class="contact">
                <p>Git-hub -</p>
                <p>Correo de contacto - vargas.sergio1157@gmail.com </p>
                <p> &copy; Enginner.Ium | todos los derechos reservados</p>
            </div>
        </footer>
    </main>
    <script src="../js/index.js"></script>  