
<main id="principal">
        <header>
            <section class="navegacion-principal">
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="bg-dark p-4">
                            <h5 class="text-white h4">Collapsed content</h5>
                            <span class="text-muted">Toggleable via the navbar brand.</span>
                        </div>
                    </div>
                    <nav class="navbar  navbar-dark bg-dark">
                        
                        <h1 class="navbar-brand" href="#"><i class="fas fa-microchip"></i> LocalHacker</h1>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                        
                                    
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/proyects">Proyects</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about">About</a>
                                </li>
                            </ul>
                        </div>
                       
                    </nav>
                </div>
            </section>
        </header>

        <section class="global-content">
           
            <div class="reader-section">
                <h2>nuevas entradas</h2>

                <div class="box-article">
                    <div class="card" style="width: 18rem;">
                        <img src="./src/img/noticia10.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Compilador con java</h5>
                            <p class="card-text">Articulo sobre IA</p>
                            <a href="/article" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="box-article">
                    <div class="card" style="width: 18rem;">
                        <img src="./src/img/noticia10.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Articulo 1</h5>
                            <p class="card-text">Articulo sobre IA</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="box-article">
                    <div class="card" style="width: 18rem;">
                        <img src="./src/img/noticia10.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Articulo 1</h5>
                            <p class="card-text">Articulo sobre IA</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="box-article">
                    <div class="card" style="width: 18rem;">
                        <img src="./src/img/noticia10.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Articulo 1</h5>
                            <p class="card-text">Articulo sobre IA</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="box-article">
                    <div class="card" style="width: 18rem;">
                        <img src="./src/img/noticia10.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Articulo 1</h5>
                            <p class="card-text">Articulo sobre IA</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
                <div class="box-article">
                    <div class="card" style="width: 18rem;">
                        <img src="./src/img/noticia10.jpg" class="card-img-top" >
                        <div class="card-body">
                            <h5 class="card-title">Articulo 1</h5>
                            <p class="card-text">Articulo sobre IA</p>
                            <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer-1">
            <div class="contact">
                <p> &copy; Copyright.</p>
                <p> knowledge is powerful, don't turn your back on it </p>
            </div>
        </footer>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/index.js"></script>  