<main id="principal">
        <header>
            <section class="navegacion-principal">
                <div id="titulo">
                    <h1><a href="/">.Enginner.ium.</a></h1>
                </div>
                <nav id="menu-principal">
                    <ul>
                        <li><a href="">computacion <i class="fas fa-angle-down"></i></a>
                            <ul id="lista-principal">
                                <li><a href="./article">ciencias de la computacion</a></li>
                                <li><a href="">programacion de videojuegos</a></li>
                                <li><a href="">inteligencia artificial</a></li>
                            </ul>
                        </li>
                        <li><a href="">electronica <i class="fas fa-angle-down"></i></a>
                            <ul>
                                <li><a href="">microcontroladores</a></li>
                                <li><a href="">robotica</a></li>
                            </ul>
                        </li>
                        <li><a href="">proyectos <i class="fas fa-angle-down"></i></a>
                            <ul>
                                <li><a href="">arduino</a></li>
                                <li><a href="">robotica</a></li>
                                <li><a href="">programacion</a></li>
                            </ul>
                        </li>
                        <li><a href="">acerca de </a>
                        </li>
                    </ul>   
                </nav>
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </section>
        </header>

        <section class="global-content">
            <div class="principal-title">
                <h2>computacion</h2>
                <div class="search">
                    <label for="buscar">buscar por:
                        <select name="buscar" id="buscarP">
                            <option value="fecha">popularidad</option>
                            <option value="fecha">fecha</option>
                            <option value="fecha">seccion</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="reader-section">
             
                <div class="box-article">
                    
                    <article class="article-box">
                        <img src="./src/img/noticia1.jpg" alt="">

                        <div class="information">
                            <div class="fecha">
                               
                            </div>
                            <p><a href="/article">que es la computacion?,terminologia y conceptos</a></p>
                                                     
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia10.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                  
                            </div>
                            <p><a href="./article.html">como funciona un motor:terminologia y aplicacion</a></p>
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia3.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                
                            </div>
                            <p><a href="./article.html">como aplicar pasta correctamente:consejos practicos</a></p>
                           
                            
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia4.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                            
                                
                            </div>
                            <p><a href="./article.html">limpieza de componentes paso por paso</a></p>

                           
                        </div>

                    </article>
                </div>


                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia6.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                               
                               
                            </div>
                            <p><a href="./article.html">que pensaba socrates sobre la juventud del futuro?</a></p>
                          
                       
                        </div>

                    </article>
                </div> 
                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia1.jpg" alt="">

                        <div class="information">
                            <div class="fecha">
                             

                            </div>
                            <p><a href="/article">que es la computacion?,terminologia y conceptos</a></p>
                          
                               
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia10.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                              
               
                            </div>
                            <p><a href="./article.html">como funciona un motor:terminologia y aplicacion</a></p>

                    
                           
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia3.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                
                            </div>
                            <p><a href="./article.html">como aplicar pasta correctamente:consejos practicos</a></p>
                           
                         
                        </div>

                    </article>
                </div>

                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia4.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                
                                
                            </div>
                            <p><a href="./article.html">limpieza de componentes paso por paso</a></p>

                        
                        </div>

                    </article>
                </div>


                <div class="box-article">
                    <article class="article-box">
                        <img src="./src/img/noticia6.jpg" alt="">

                        <div class="information">
                            
                            <div class="fecha">
                                
                            </div>
                            <p><a href="./article.html">que pensaba socrates sobre la juventud del futuro?</a></p>
                          
                        
                        </div>

                    </article>
                </div> 
            </div>
            <div class="next-section">
                <ul class="next-list">
                    <li><a href="">1</a></li>
                    <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href=""><i class="fas fa-angle-double-right"></i></a></li>
                </ul>
            </div>

           
        </section>

        <footer id="footer-1">
            <div class="contact">
                <p>Git-hub -LOGserch</p>
                <p>Correo de contacto - vargas.sergio1157@gmail.com </p>
                <p> &copy; Enginner.Ium | todos los derechos reservados</p>
            </div>
        </footer>
    </main>
    <script src="../js/index.js"></script>    