body
    margin: 0px auto
    background: url("../../../src/img/pattern.png")
    #article
        max-height: 2000px
        height:100% auto
    
        header           
            display: flex
            flex-direction: column
            height: 10%
        
            
            .navegacion-articulo
                
                height: 90%  
                justify-content: center
                   

                #menu-principal   
                    padding: 10px
                .pos-f-t
                    overflow: hidden
                    .navbar
                        h1                           
                            margin: 0px 50px
                            text-decoration: none
                            color: $color-blanco
                            font-size: 15px
                        .navbar-toggler
                            margin-right: 20px
                        .navbar-collapse
                            margin: 0px 50px
                #titulo,
                #menu-principal
                    align-self: center
                
                    ul
                        list-style: none
                        display: flex
                        margin: 0px
                        height: 50px

                        li
                            
                            margin: 0px 30px
                            display: block
                            position: relative
                            width: 150px
                            text-align: center
            
                            a
                                color: $color-negro
                                text-decoration: none
                                font-family: $code-pro
                                display: block
                                line-height: 50px
                           
                            a:hover
                                color: $color-gris-difuminado
                            ul
                                display: none
                                margin-top: 0px
                                background: $color-blanco
                                flex-direction: column
                                position: absolute
                                z-index: 31
                                padding: 0px
                                text-align: center
                                height: auto
                                li
                                    padding: 5px
                                    width: max-content

                                    a
                                        font-size: 12px
                        li:hover ul
                            display: block
                .search
                    width: 5rem
                    text-align: -moz-right
                    .fa-search
                            color: $color-negro
                            margin-top: 2.3rem
                            cursor: pointer
        .global-content
         
            margin-top: 20px
            
            z-index: 10
            display: flex
            flex-direction: column
            width: auto

            .reader-section
              
                width: 90% 
                display: flex
                flex-direction: column
                align-items: center

                h2,
                .fecha
                    width: 50%
                    text-align: center
                    
                h2
                    border-bottom: 2px solid $color-negro
                    margin-bottom: 5px
                    a
                        text-decoration: none
                        color: $color-negro
                        font-family: $open-sans

                .information
                    display: flex
                    flex-direction: row
                    align-self: center
                    justify-content: center
                    width: 50%
                    .fecha
                        display: flex
                        flex-direction: row
                        p
                            margin: 0px
                        
                            a
                                text-decoration: none
                                color: $color-gris-medio
                                font-family: $montserrat
                    .compartir
                        .fa-github
                            color: $color-negro
                        .fa-reddit
                            color: $naranja-reddit
                        .fa-facebook
                            color: $azul
                                            

                .text-information
                    width: 75%
                    margin: 50px
                    display: flex
                    flex-direction: column

                    p
                        font-family: $orbiton
                        font-size: 15px
                        text-align: justify
                        display: flex
                        flex-direction: column
                        img
                            width: 320px
                            height: 300px
                            align-self: center
                    img
                        width: 320px
                        height: 300px
                        align-self: center
            .title-next
                border-bottom: 3px solid $azul
                h3
                    text-align: center
                    font-family: $open-sans
            .article-next
                margin: 30px
                display: flex
                flex-direction: row
                align-self: center
                .article-box
                    background: url("../../../src/img/noticia1.jpg")
                    width: 20rem
                    height: 10rem
                    margin: 10px
                    .title-description
                        text-align: center
                        background: rgba(0,0 ,0 ,0.5 )
                        height: 10rem
                        background-size: cover
                        background-blend-mode: darken
                        h4
                            color: $color-blanco
                            font-family: $open-sans
                            opacity: 1
                            line-height: 5rem
                            margin: 0px
                        p
                            margin: 0px
                            a
                                color: $color-blanco
                                font-family: $open-sans
                                opacity: 1
                                text-decoration: none
            .comentarios
                display: flex
                flex-direction: column
                align-self: center
                h2
                    text-align: center
                    margin: 5px
                    font-family: $open-sans
                .comentarios-publicados
                    display: flex
                    flex-direction: column
                    margin-bottom: 30px
                    border-bottom: 1px solid $color-gris-claro-Oscuro 
                    .box-comentario
                        display: flex
                        flex-direction: row
                        align-items: center
                        margin: 50px 0px 50px 0px
                        .box-user
                            margin: 10px
                            .fa-user-circle
                                font-size: 50px
                                color: $color-gris-claro-Oscuro
                        .box-information
                            p > *
                                font-family: $open-sans
                                color: $verde-brilloso
                            
                   
                form
                    .add-c
                        display: flex
                        flex-direction: column
                        align-items: center
                        #comentario,
                        #nombre,
                        #correo
                            width: 30rem
                            margin: 10px
                        #boton-enviar
                            width: max-content
                            margin: 10px
                        label
                            width: max-content

                

        #footer-2
            height: 100% auto
            margin-top: 20px
            background: $color-gris-fuerte
            text-align: center

            .contact
                padding: 40px
                p
                    color: $color-blanco
                    font-family: $open-sans
.hidden
    overflow: hidden
    .download
        height: 100vh
        background-color: $color-negro
        display: flex
        justify-content: center
        align-items: center
        .lds-grid 
            display: inline-block
            position: relative
            width: 80px
            height: 80px
                                
            div 
                position: absolute
                width: 16px
                height: 16px
                border-radius: 50%
                background: $color-blanco
                animation: lds-grid 1.2s linear infinite
                                
            div:nth-child(1) 
                top: 8px
                left: 8px
                animation-delay: 0s
                                
            div:nth-child(2) 
                top: 8px
                left: 32px
                animation-delay: -0.4s
                                
            div:nth-child(3) 
                top: 8px
                left: 56px
                animation-delay: -0.8s
                                
            div:nth-child(4) 
                top: 32px
                left: 8px
                animation-delay: -0.4s
                                
            div:nth-child(5) 
                top: 32px
                left: 32px
                animation-delay: -0.8s
                                
            div:nth-child(6) 
                top: 32px
                left: 56px
                animation-delay: -1.2s
                                
            div:nth-child(7) 
                top: 56px
                left: 8px
                animation-delay: -0.8s
                                
            div:nth-child(8) 
                top: 56px
                left: 32px
                animation-delay: -1.2s
                                
            div:nth-child(9) 
                top: 56px
                left: 56px
                animation-delay: -1.6s
                                
            @keyframes lds-grid 
                0%,
                100% 
                    opacity: 1                       
                50% 
                    opacity: 0.5


                                   
                        

                    
                                
                
